
h1{
    font-weight: bold;
    font-family: 'Montserrat', Verdana, Arial, Tahoma, sans-serif;
}

h2, h3, h4{
    font-family: 'Montserrat', Verdana, Arial, Tahoma, sans-serif;
}

p{
    font-family: Verdana, Arial, Tahoma, sans-serif;
}
.text-capital{
    text-transform: uppercase;
}