@import '../custom.scss';

.about_me{
    height: 100vh;
    background-color: $secondary;
    .about_me-content{
        background-color: black;
        width: 50%;
        margin-top: 3rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
        padding-right: 3rem;
        padding-left: 3rem;
    }
    .self-picture{
        width: 20vw;
    }
    @include media-breakpoint-down(md) {
        padding-top: 5rem;
        height: 90vh;
    }
    @include media-breakpoint-down(sm) {
        padding-top: 5rem;
        height: 140vh;
    }
    
}

