@import '../custom.scss';

.project{
    height: 300vh;
    background-color: $secondary;
    .project-content{
        background-color: black;
        width: 50%;
        margin-top: 5.0rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
        padding-right: 3rem;
        padding-left: 3rem;
    }

    @include media-breakpoint-up(lg){
        height: 300vh;
    }
    @include media-breakpoint-down(md){
        height: 600vh;
    }
    @include media-breakpoint-down(sm){
        height: 600vh;
    }
    @include media-breakpoint-down(xs){
        height: 500vh;;
    }
    @include media-breakpoint-down(xxs){
        height: 600vh;
    }
    @include media-breakpoint-down(568px){
        .btn{
            margin-bottom: 3rem;
        }
    }
}

.portfolio-box {
    position: relative;
    width: 100%;
    height: 18.5rem;
    overflow: hidden;
    margin-bottom: 1.2rem;
    border-top: 0.5rem solid lighten($secondary, 20%);
    iframe {
        width: 500px;
        height: 500px;
        overflow: none;
    }

    img {
        width: 100%;
        height: 100%;
    }

    a {
        color: white;

        :hover {
            color: black;
        }
    }

    .portfolio-info {
        background-color: rgba($primary, 0.75);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;

        .caption {
            margin-top: 8rem;
            text-align: center;
            color: $white;
            display: flex;
            justify-content: center;
            align-items: center;

            h4 {
                text-transform: uppercase;
                display: block;
            }
        }
    }

    &:hover {

        .portfolio-info {
            opacity: 1;
            visibility: visible;
        }
    }
}

.portfolio {
    padding: 4rem 0;

    button {
        text-transform: capitalize;
    }
}